- var prefix = false
- var prefixString = prefix ? "../source/" : "/"
head
	title 毛焦火辣
	//- link(href=prefixString + "bootstrap/dist/css/bootstrap.css" rel="stylesheet")
	link(href=prefixString + "css/index.css" rel="stylesheet")
	link(href=prefixString + "css/main.css" rel="stylesheet")
	link(href=prefixString + "css/article.css" rel="stylesheet")
	script(src=prefixString + "jquery/dist/jquery.js")
	script(src=prefixString + "bootstrap/dist/js/bootstrap.js")